* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);  
    
}

ul {
    display: contents;
}

li {
    display: contents;
    padding: 10px;
}

#headline {
  text-align: center;
  font-weight: 800;
  padding: 10px;
  background-color: black;
  color: white;
  padding: 20px;
  grid-column-end: span 5;

}

p {
    padding-top: 20px;
    padding-left: 10px;
}

#under-headlines {
    
    display: contents;
}

li:nth-child(even) p {
    background-color: lightblue;
}

li:nth-child(odd) p {
    background-color: lightgray;
}
